ShibUserPassAuth {
    com.tagish.auth.DBLogin required
        dbDriver="<%= p('idp.jaas.database.dbDriver') %>"
        dbURL="<%= p('idp.jaas.database.dbURL') %>"
        dbUser="<%= p('idp.jaas.database.dbUser') %>"
        dbPassword="<%= p('idp.jaas.database.dbPassword') %>"
        userTable="<%= p('idp.jaas.database.userTable') %>"
        userColumn="<%= p('idp.jaas.database.userColumn') %>"
        passColumn="<%= p('idp.jaas.database.passColumn') %>";
        useBcrypt="<%= p('idp.jaas.database.useBcrypt') %>"
};
