ShibUserPassAuth {
    com.tagish.auth.DBLogin required
        dbDriver="<%= p('idp.jaas.database.dbDriver') %>"
        dbURL="<%= p('idp.jaas.database.dbURL') %>"
        dbUser="<%= p('idp.jaas.database.dbUser') %>"
        dbPassword="<%= p('idp.jaas.database.dbPassword') %>"
        userTable="<%= p('idp.jaas.database.userTable') %>"
        userColumn="<%= p('idp.jaas.database.userColumn') %>"
        passColumn="<%= p('idp.jaas.database.passColumn') %>"
        passLastModifiedColumn="<%= p('idp.jaas.database.passLastModifiedColumn') %>"
        passExpirationDays="<%= p('idp.authentication.passExpirationDays') %>"
        useBcrypt="<%= p('idp.jaas.database.useBcrypt') %>";
        auditTable="<%= p('idp.jaas.database.auditTable') %>";
        principalIdColumn="<%= p('idp.jaas.database.principalIdColumn') %>";
        eventTypeIdColumn="<%= p('idp.jaas.database.eventTypeIdColumn') %>";
        originColumn="<%= p('idp.jaas.database.originColumn') %>";
        origin="<%= p('idp.jaas.database.origin') %>";
};
